# Merge
## Concat
pandas provides various facilities for easily combining together Series and DataFrame objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

Concatenating pandas objects together with `concat()`:

In [5]:
import pandas as pd
import numpy as np
np.random.seed()
df = pd.DataFrame(np.random.randn(10, 4))

In [9]:
df # DataFrame

          0         1         2         3
0 -0.493947  1.625480  0.244771 -0.185388
1  0.198916 -1.376590 -1.215013 -1.194330
2 -0.119116  0.843964 -0.320494 -2.380751
3  0.024455  1.921114 -0.142516  0.262443
4 -0.871334 -0.456046 -0.653551  1.771860
5  1.058511 -2.091128  1.171792  1.563637
6 -0.192952  1.377423  0.552583  0.288304
7  1.480328 -0.757365 -0.272379 -0.362830
8 -0.033634 -0.371534  1.738937 -1.010350
9 -0.206187 -1.458660  0.538586 -1.532622

In [10]:
df[:3]

          0         1         2         3
0 -0.493947  1.625480  0.244771 -0.185388
1  0.198916 -1.376590 -1.215013 -1.194330
2 -0.119116  0.843964 -0.320494 -2.380751

In [7]:
pieces = [df[:3], df[3:7], df[7:]] # Break it into pieces

In [8]:
pieces

[          0         1         2         3
 0 -0.493947  1.625480  0.244771 -0.185388
 1  0.198916 -1.376590 -1.215013 -1.194330
 2 -0.119116  0.843964 -0.320494 -2.380751,
           0         1         2         3
 3  0.024455  1.921114 -0.142516  0.262443
 4 -0.871334 -0.456046 -0.653551  1.771860
 5  1.058511 -2.091128  1.171792  1.563637
 6 -0.192952  1.377423  0.552583  0.288304,
           0         1         2         3
 7  1.480328 -0.757365 -0.272379 -0.362830
 8 -0.033634 -0.371534  1.738937 -1.010350
 9 -0.206187 -1.458660  0.538586 -1.532622]

In [11]:
pd.concat(pieces)

          0         1         2         3
0 -0.493947  1.625480  0.244771 -0.185388
1  0.198916 -1.376590 -1.215013 -1.194330
2 -0.119116  0.843964 -0.320494 -2.380751
3  0.024455  1.921114 -0.142516  0.262443
4 -0.871334 -0.456046 -0.653551  1.771860
5  1.058511 -2.091128  1.171792  1.563637
6 -0.192952  1.377423  0.552583  0.288304
7  1.480328 -0.757365 -0.272379 -0.362830
8 -0.033634 -0.371534  1.738937 -1.010350
9 -0.206187 -1.458660  0.538586 -1.532622

# Join
SQL style merges.

In [12]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

In [13]:
left

   key  lval
0  foo     1
1  foo     2

In [14]:
right

   key  rval
0  foo     4
1  foo     5

In [15]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

Another Example

In [16]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

In [17]:
left

   key  lval
0  foo     1
1  bar     2

In [18]:
right

   key  rval
0  foo     4
1  bar     5

In [19]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

# Append
Append rows to a dataframe.

In [20]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])

In [21]:
df

          A         B         C         D
0 -0.784375  0.511805  0.323780 -0.065874
1 -1.777933  0.149912 -1.727348  0.197836
2  2.382810  0.501593  1.274527 -0.456674
3  0.003459  0.793957  1.188773  0.999236
4 -0.874190  0.413551  0.020734 -0.300775
5 -1.520646  1.291041  0.561644 -0.705396
6  0.487781  0.191630  0.788804  1.912556
7  0.612815  0.366643 -1.120432 -1.543861

In [23]:
s = df.iloc[3]

In [24]:
s

A    0.003459
B    0.793957
C    1.188773
D    0.999236
Name: 3, dtype: float64

In [25]:
df.append(s, ignore_index=True)

          A         B         C         D
0 -0.784375  0.511805  0.323780 -0.065874
1 -1.777933  0.149912 -1.727348  0.197836
2  2.382810  0.501593  1.274527 -0.456674
3  0.003459  0.793957  1.188773  0.999236
4 -0.874190  0.413551  0.020734 -0.300775
5 -1.520646  1.291041  0.561644 -0.705396
6  0.487781  0.191630  0.788804  1.912556
7  0.612815  0.366643 -1.120432 -1.543861
8  0.003459  0.793957  1.188773  0.999236